.whiteText{
    color:white;
}

.whiteElem{
    background-color:white;
}

.grayText{
    color: #455a64;
}

.orange{
    color: rgb(244,128,42);
}

.orange-button{
    background: rgb(255,146,5) !important;
}