@font-face {
    font-family: Amaranth;
    src: url('/fonts/amaranth/Amaranth-Regular.otf');
    font-weight: bold;
}

@font-face {
    font-family: RobotoBlack;
    src: url('/fonts/roboto/Roboto-Black.ttf');
    font-weight: bold;
}

.amaranth{
    font-family: Amaranth !important;
}