* {

}

body {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;

  /**background-image: url("http://hdwpicture.com/wp-content/uploads/2015/09/yellow_desktop_wallpapers_h223u_wallniku.jpg");
  background-size: cover;*//
}

/*----------------------------
	header
-----------------------------*/
header {
  background-color: #FFFFFF !important;
}

header .front {
  background-image: url('/imgs/x4/capa.png') !important;
}
/*----------------------------
	menu
-----------------------------*/

/*----------------------------
	main
-----------------------------*/


/*----------------------------
	footer
-----------------------------*/
