*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

li{
    text-decoration: none;
}
.container{
    padding: 20px;
    background: #e3e3e3;
}
.back-image{
    background: url('/imgs/x4/hands-02.jpg') no-repeat;
}


.full-size{
    width: 100%;
    background-size: 100%;
}
.light-logo{
    margin: 0 auto;
    width: 220px;
    display: block;
}
.item{
    height: 100%;
    width: 100%;
}

.tInput{
    font-size: 15px;
    height: 30px;
}

.tf-form{
    max-width: 500px;
}
.tButton{
    width: 49%;

}

.t-orange{
    background-color: darkorange;
}

.t-dark-grey{
    background-color: #212121;
}

.right{
    float: right;
}
.left{
    float: left;
}

.iform{
    margin: 5px 0;
    height: 30px;
}

button.iform {
    color: white;
    font-weight: bold;
    border: 0 ;
}

input.iform {
    border: 1px solid darkorange;
}
.title-page{
    width: 82%;
    text-align: center;
    margin: 0 auto;
}

.subtitle{
    font-size: 21px;
}
