<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app = "application" ng-controller="ApplicationController as application">
    {/10+2/}

    <div>
        soma: {/15+2/}
        <h1>
            Ola {/application.name/} !
        </h1>
    </div>

    <div>
        <ul>
            <li ng-repeat="product  in application.products">
                Product: {/ product.name/}
                <div class="reviews">
                    <h2>Reviews</h2>
                    <blockquote ng-repeat="review in product.reviews">
                        <b> {/review.stars/} Stars</b>
                        {/review.body/}
                        <cite>by: {/review.author /}</cite>
                    </blockquote>
                </div>
            </li>
        </ul>
        <form name="reviewForm">
            <blockquote>
                <b> {/review.stars/} Stars</b>
                {/review.body/}
                <cite>by: {/review.author /}</cite>
            </blockquote>
            <select ng-model = "review.stars">
                <option value="1">1 Star</option>
                <option value="2">2 Star</option>
                <option value="3">3 Star</option>
                <option value="4">4 Star</option>
                <option value="5">5 Star</option>
            </select>
            <textarea ng-model="review.body" ></textarea>
            <label>by: </label>
            <input type="email" ng-model="review.author">
            <input type="submit" value="SUBMIT">
        </form>
    </div>




    <script type="text/javascript" src="components/angular/angular.min.js" ></script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
    <!--<script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>-->

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/applicationController.js"></script>
    <script type="text/javascript" src="js/controllers/itensController.js"></script>
    <script type="text/javascript" src="js/controllers/userController.js"></script>
    <script type="text/javascript" src="js/config/config-angular.js"></script>
    <!--<script type="text/javascript" src="js/config/config-angular.js"></script>-->


</body>
</html>