@media screen and (min-width: 319px) and (max-width: 767px){
    .chamada{
        font-size: 1.6em !important;
        text-align: center;
    }
    .chamada2{
        font-size: 0.9em;
    }

}

@media screen and (min-width: 768px) {
   .chamada{
       font-size: 1.6em !important;
       text-align: center;
   }
    .chamada2{
        font-size: 0.9em !important;
    }

}